In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics

df = pd.DataFrame()
df['age'] = [14,12,11,10,8,6,8]

In [2]:
np.mean(df['age'])

9.857142857142858

In [3]:
np.median(df['age'])

10.0

In [4]:
statistics.mode(df['age'])

8

In [5]:
df.describe()
#shows the standard deviation of 2.734

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [6]:
np.var(df['age'])

6.408163265306122

In [7]:
np.std(df['age'],ddof=1)/np.sqrt(len(df['age']))
#standard of errors

1.0334540197243192

In [8]:
'''
question 2: 

measure of central tendacy: I'd pick mean because it shows the youth of the actors on the Brady Bunch

measure of variance: I'd pick standard deviation because it shows 

'''

"\nquestion 2: \n\nmeasure of central tendacy: I'd pick mean because it shows the youth of the actors on the Brady Bunch\n\nmeasure of variance: I'd pick standard deviation because it shows \n\n"

In [9]:
df['age1'] = [14,12,11,10,9,6,8]

In [10]:
np.mean(df['age1'])

10.0

In [11]:
np.median(df['age1'])

10.0

In [12]:
(values, counts) = np.unique(df['age1'], return_counts=True)

ind = np.argmax(counts)

values[ind]

6

In [13]:
np.var(df['age1'])

6.0

In [14]:
np.std(df['age1'],ddof=1)/np.sqrt(len(df['age1']))
#standard of errors

1.0

In [18]:
df['age2'] = [14,12,11,10,9,6,10]

In [19]:
np.mean(df['age2'])

10.285714285714286

In [20]:
np.median(df['age2'])

10.0

In [22]:
(values, counts) = np.unique(df['age2'], return_counts=True)

ind = np.argmax(counts)

values[ind]

#this seems wrong.

10

In [ ]:
df1=pd.DataFrame()
df1['fans'] = [20, 23, 17, 5]

In [ ]:
df1.describe()

In [ ]:
np.std(df1['fans'],ddof=1)/np.sqrt(len(df1['fans']))

In [ ]:
# 16.25% +/- 3.95% fans on 50th anniversary